body
{
    background-image: url(../img/fondo.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    font-family: 'Raleway', sans-serif;
}

.picture-artist {
	padding: 20px;
}
.picture-artist img {
  border-radius:100%;
  width:200px;
}

.grid-container {
	display: grid;
}

.wrapper {
height: 225px;
margin: 120px 100px 10px 100px;
border-radius: 7px 7px 7px 7px;
-webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
-moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
display: flex;
}

.album {
  margin: 10px 100px 10px 100px;
}

.artist-img {
float: left;
height: 225px;
width: 220px;
border-radius: 10px 0 0 10px;
padding: 10px;
}

.artist-img img {
border-radius: 100%;
width: 100%;
}

.artist-text {
width: 327px;
height: 208px;
}

.artist-text h2 {
margin: 25px;
font-size: 34px;
color: white;
}

.artist-text h2,
.artist-price-btn p {
font-family: 'Raleway', sans-serif;
text-align: left;
}

.artist-text h3 {
margin: 25px;
font-size: 13px;
font-family: 'Raleway', sans-serif;
font-weight: 400;
text-transform: uppercase;
color: #d2d2d2;
letter-spacing: 0.2em;
text-align: left;
}

.artist-text p {
height: 115px;
margin: 0 0 0 38px;
font-family: 'Raleway', sans-serif;
color: #8d8d8d;
line-height: 1.7em;
font-size: 15px;
font-weight: lighter;
overflow: hidden;
}

span {
display: inline-block;
height: 50px;
font-family: 'Suranna', serif;
font-size: 34px;
}

.album-1, .album-2, .album-3 {
background-color: #ffffff;
padding: 10px;
border-radius: 10px;
}

.album-name {
margin-left: 50px;
}

.album-name h4 {
font-size: 13px;
font-family: 'Raleway', sans-serif;
font-weight: 400;
text-transform: uppercase;
letter-spacing: 0.2em;
}

table {
border-collapse: collapse;
border-spacing: 0;
width: 100%;
border: none;
}

th, td {
text-align: left;
padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

.title-img
{
  display: flex;
}

/* Versión Tablet */
@media (max-width: 768px)
{
  #playButton
  {
    display: flex;
  }
}