body
{
    background-image: url(../IMG/fondo.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    font-family: 'Raleway', sans-serif;
}

.containter
{
    display: grid;
    grid-template-columns: 1fr;
}

.title
{
    background-color: rgb(255, 185, 159, 0.6);
    color: white;
    padding: 200px;
    text-align: left;
    font-weight: lighter;

    display: grid;
    grid-template-columns: 1fr 1fr;
    
    margin: 50px 200px;
}

.subtitle
{
    background-color: rgb(160, 160, 255, 0.6);
    color: white;
    padding: 200px;
    text-align: left;
    font-weight: lighter;

    display: grid;
    grid-template-columns: 1fr 1fr;

    margin: 50px 200px;
}

.article1
{
    background-color: rgb(160, 255, 168, 0.6);
    color: black;
    padding: 200px;
    text-align: left;
    font-weight: lighter;

    display: grid;
    grid-template-columns: 1fr 1fr;

    margin: 50px 200px;
}

.article2
{
    background-color: rgb(255, 253, 160, 0.6);
    color: black;
    padding: 200px;
    text-align: left;
    font-weight: lighter;

    display: grid;
    grid-template-columns: 1fr 1fr;

    margin: 50px 200px;
}

.article3
{
    background-color: rgb(160, 255, 223, 0.6);
    color: black;
    padding: 200px;
    text-align: left;
    font-weight: lighter;

    display: grid;
    grid-template-columns: 1fr 1fr;

    margin: 50px 200px;
}

header ul
{
    background-color: rgba(0, 0, 0, 0.2);
    padding: 25px;
    position: fixed;
    width: 100%;
    top: 5px;
    list-style-type: none;
    text-align: justify;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 100px;
}

header ul li a
{
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

div ul
{
    list-style-type: none;
    text-decoration: none;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#white
{
    text-decoration: none;
    color: white;
}

#black
{
    text-decoration: none;
    color: black;
}

.icon1
{
    position: fixed;
    margin: 20px;
    top: 150px;
    background-color: rgb(51, 51, 51);
    width: 50px;
    padding: 10px;
    text-align: center;
    font-weight: bolder;
    color: limegreen;
    text-decoration: none;
    border-radius: 100px;
}

.icon2
{
    position: fixed;
    margin: 20px;
    top: 200px;
    background-color: rgb(51, 51, 51);
    width: 50px;
    padding: 10px;
    text-align: center;
    font-weight: bolder;
    color: mediumorchid;
    text-decoration: none;
    border-radius: 100px;
}

/* Versión Tablet */
@media (max-width: 768px)
{

}

/* Versión Mobile */
@media (max-width: 320px)
{
    .title
    {
        margin: 25px 0px;
        width: 100%;
    }

    .subtitle
    {
        margin: 25px 0px;
        width: 100%;
    }

    .article1
    {
        margin: 25px 0px;
        width: 100%;
    }

    .article2
    {
        margin: 25px 0px;
        width: 100%;
    }

    .article3
    {
        margin: 25px 0px;
        width: 100%;
    }

    header ul
    {
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    }
}
