body{
    background-image: url(../img/fondo.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: 'Raleway', sans-serif;
}

.cont{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin: 120px 100px 10px 100px;
}

.main{
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

.artists{
    background-color: rgba(160, 255, 168, 0.6);
}

.carousel-inner img{
    border-radius: 500px;
    size: auto;
}

#controls{
    background-image: none;
}

.albums{
    background-color: rgba(160, 160, 255, 0.6);
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 10px;
}

.albums img, .tracks img{
    width: 300px;
    height: 300px;
}

.tracks{
    background-color: rgba(255, 185, 159, 0.6);
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 10px;
}

.side{
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

#playlists{
    background-color: rgba(255, 253, 160, 0.6);
}

.myPlaylistIndex{
    background-color: rgba(255, 253, 160, 0.2);
    background-size: cover;
    border-radius: 50px;
    padding: 50px;
    margin: 25px;
    text-align: center;
}

.playlist-img img{
    display: block;
    margin: auto;
}

#genres{
    background-color: rgba(238, 144, 188, 0.6);
}

.genre-item{
    border-radius: 50px;
    padding: 50px;
    margin: 25px;
}

#genre-rap{
    background-image: url(https://e-cdns-images.dzcdn.net/images/misc/b8ae8f0791f5e9e6c7a11bab94b0cbad/134x264-000000-80-0-0.jpg);
    background-size: cover;
}

#genre-rnb{
    background-image: url(https://e-cdns-images.dzcdn.net/images/misc/1c282e04053a2d1ee0ffa638bff4cb9b/134x264-000000-80-0-0.jpg);
    background-size: cover;
}

#genre-pop{
    background-image: url(https://e-cdns-images.dzcdn.net/images/misc/2b15578cf12902c0c7d2ae07e8071460/134x264-000000-80-0-0.jpg);
    background-size: cover;
}

#genre-rock{
    background-image: url(https://e-cdns-images.dzcdn.net/images/misc/8ad3050b34360d0573d9d7b8bf38997d/134x264-000000-80-0-0.jpg);
    background-size: cover;
}

#genre-indie{
    background-image: url(https://e-cdns-images.dzcdn.net/images/misc/3afdfc1cfa772d31a5ca70a121d10206/134x264-000000-80-0-0.jpg);
    background-size: cover;
}

a{
    color: white !important;
    font-weight: bold;
    text-decoration: none !important;
}

h1, h2, h3, h4, h5{
    color: white;
    font-weight: bold;
    margin: 25px;
    text-align: center;
}

.forms{
    display: flex;
}

.form-space{
    border-radius: 25px;
}

.form-button{
    background-color: rgb(160, 160, 255, 0.6);
    border-radius: 25px;
    font-weight: lighter;
    font-size: smaller;
    color: white;
}

header ul{
    background-color: rgba(0, 0, 0, 0.2);
    padding: 25px;
    position: fixed;
    top: 0;
    width: 100%;
    list-style-type: none;
    text-align: justify;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 25px;
    margin-top: 10px;
    z-index: 1;
}

header ul li{
    font-size: 16px;
}

footer{
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    border-radius: 25px;
    display: flex;
    justify-content: space-evenly;
    color: white;
    padding: 25px;
}

.sideDeezer{
    position: fixed;
    margin: 0px 25px;
    top: 150px;
}

.sideGit{
    position: fixed;
    margin: 0px 25px;
    top: 200px;
    font-size: 50px;
}

#sideDeezer-img{
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

#deezer-logo{
    width: 100px;
    height: 20px;
}

/* Versión Tablet */
@media (max-width: 768px){
    #deezer-logo-small{
        display: none;
    }

    .cont{
        grid-template-columns: 1fr;
        margin-left: 140px;
    }

    footer{
        width: 880px;
    }
}

/* Versión Mobile */
@media (max-width: 320px){
    #deezer-logo-small{
        display: none;
    }

    .cont{
        grid-template-columns: 1fr;
        margin-left: 140px;
    }

    header{
        display: auto;
    }
}