body
{
    background-image: url(../IMG/fondo.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: 'Raleway', sans-serif;
}

.cont
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 25px 200px;
    gap: 10px;
}

.main
{
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

.artists
{
    background-color: rgb(160, 255, 168, 0.6);
    text-align: center;
}

.carousel-inner img
{
    border-radius: 500px;
    width: 100%;
    height: auto;
}
#controls
{
    background-image: none;
}

.albums
{
    background-color: rgb(160, 160, 255, 0.6);
    text-align: center;

    display: grid;
    align-content: center;
}

.tracks
{
    background-color: rgb(255, 185, 159, 0.6);
    text-align: center;

    display: grid;
    align-content: center;
}

.side
{
    background-color: rgb(255, 253, 160, 0.6);
    text-align: center;
    display: grid;
    align-content: center;
    width: 100%;
    height: 900px;
}

a
{
    color: white !important;
    text-decoration: none !important;
    font-weight: bold;
}

h1, h2, h3
{
    margin: 25px;
}

header ul
{
    background-color: rgba(0, 0, 0, 0.2);
    padding: 25px;
    position: fixed;
    width: 100%;
    list-style-type: none;
    text-align: justify;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 100px;
    margin: 10px 0px;
}

footer
{
    width: 100%;
    border-radius: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    padding: 25px;
    font-weight: normal;
}

.icon
{
    position: fixed;
    margin: 0px 25px;
    top: 150px;
}

#deezer-logo-small
{
    width: 50px;
    height: 50px;
}

#deezer-logo
{
    width: 110px;
    height: 25px;
}

.grid-item > img
{
  width: 100%;
}

/* Versión Tablet */
@media (max-width: 768px)
{

}

/* Versión Mobile */
@media (max-width: 320px)
{

}
