body
{
    background-image: url(../img/fondo.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    font-family: 'Raleway', sans-serif;
}

.contPlaylist {
    margin: 120px 100px 10px 100px;
    display: flex;
    justify-content: space-around;
}

.myPlaylist
{
    background-image: url(../img/fondo2.png);
    background-size: cover;
    opacity: 1;
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    text-align: center;
    color: white;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
    gap: 10px;
    width: 512px;
}

.eachPlaylist
{
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    color: white;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
    gap: 10px;
    width: 512px;
}

p
{
    margin: 5px;
}
