body
{
    background-image: url(../img/fondo.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    font-family: 'Raleway', sans-serif;
}